/*--------------È«¾Ö----------------*/
body { margin:0; font-size:12px; font-weight:normal; background: url(../images/top_bg.jpg) top repeat-x;font-family:"ËÎÌå", Arial, Helvetica, sans-serif; color:#444;}
h1,h3,h5,ul,li,dd,dl,dt{margin:0; font-weight:normal; font-size:12px; padding:0; list-style:none; color:#444;}
a { color:#828282; font-weight:normal; text-decoration:none;}
img { border:0;}
.clear { clear:both; }

/*--------------Ò³Í·----------------*/
.zong{ width:1002px; margin:auto; background:#FFF}
.top { width:1002px;  height:107px; margin:auto; overflow:hidden;}
.top_div { width:1002px; height:107px; margin:auto; overflow:auto;}
.logo { float:left; width:212px; height:85px; background:url(../images/logo.jpg) no-repeat; margin-left:10px; margin-top:10px; margin-right:15px; _display:inline; overflow:hidden;}
.top_right { float:right; width:680px; height:98px; overflow:hidden;}
.top1{ height:26px; margin-top:10px; text-align:right; padding-right:45px; font-size:12px; font-weight:bold; color:#585858; overflow:hidden;}
.top1 img { border:0;}
.top_but { float:right; width:61px; height:26px; background:url(../images/so.jpg) no-repeat; border:0; margin-left:4px; overflow:hidden;}
.top_inp { float:right; width:167px; height:24px; line-height:24px; color:#6b6b6b; border:1px solid #b3b3b3; padding:0; margin:0; overflow:hidden;}
.menu { float:left; width:740px;height:36px; margin:auto; margin-top:40px; background:#0089e5;overflow:hidden;}
.menu li { float:left;height:36px; overflow:hidden;}
.menu li a{ display:block; height:36px; line-height:36px; padding-left:21px; padding-right:21px;background:url(../images/meun_1.jpg) center right no-repeat; font-size:12px; font-family:"ËÎÌå";text-align:center; color:#FFF; overflow:hidden;}
.menu li a:hover { color:#FC3 }
.t_top{ width:1002px; height:15px; margin: auto;  background:url(../images/in_1.jpg) no-repeat;}
.t_cen{ width:1002px;margin: auto; background:url(../images/t_2.png)}

.ing_div{ width:950px; height:297px; margin:auto; padding-top:10px;position:relative;overflow:hidden;}

.neigg_div{ width:950px; height:268px; margin:auto; padding-top:10px;position:relative;overflow:hidden;}

.gg_div { width:1002px; height:283px; margin:auto; border-bottom:1px solid #d1dbdc; margin-top:1px; position:relative;overflow:hidden;}
.content_1 { width:954px; margin:auto; padding-left:15px; margin-top:15px;overflow:hidden;} 
.cont1_left { float:left; width:670px;  margin-top:20px;  border-right:1px solid #ddd; overflow:hidden;}

.cont1_o{ width:310px; height:340px; margin-bottom:20px; float:left; }
.cont1_o span{ display:block; height:140px;padding-left:20px; padding-right:20px; line-height:22px; color:#FFF}
.co_a{ padding-left:20px;color:#FFF}
.news_tmenu { width:250px; overflow:hidden;}
.news_a {  float:right; width:36px; height:13px; background:url(../images/more.jpg) no-repeat; margin-top:6px}
.tbox{height:100px;clear:both; padding:0; margin:0;}
.block{ display:block}
.none{ display:none}


.slider_wrap{position:relative;width:950px;height:295px; overflow:hidden;}
#slider_box{position:relative;width:230px;height:184px;overflow:hidden;float:left;}
#contentList li{float:left;position:relative;}
#contentList li IMG{width:950px;height:295px;}
#previewList{position:absolute;bottom:13px;right:50px;}
#previewList li{list-style:none;float:left;width:15px;height:15px;background:url(../images/tc2.png) no-repeat; cursor:pointer;margin-right:2px;padding-top:0px;overflow:hidden;}
#previewList li:hover,#previewList li.active{background:url(../images/tc1.png) no-repeat; width:11px;height:11px;}


.tmenu1 { width:678px; height:30px; border-bottom:1px solid #cbcbcb; margin-top:20px; padding-left:5px; margin-left:20px; overflow:hidden;}
.tmenu1 li {float:left; width:90px; height:30px;line-height:30px; text-align:center; background:url(../images/pro-tit2.jpg) no-repeat; color:#6c6c6c; font-size:14px; font-weight:bold; margin-right:4px; cursor:pointer;display:block;text-align:center; }
.tmenu1 li.on{ background:url(../images/pro-tit1.jpg) no-repeat; color:#FFF;}
.tbox1{ line-height:24px;clear:both; margin-top:10px; margin-left:20px; padding-bottom:20px;}

.login_in{ height:130px; line-height:35px; margin-top:10px; margin-left:10px;}
.login_inp{ border:1px solid #ddd; width:170px; height:22px; line-height:24px;}

.login_sub{ float:left; width:100px; height:31px; margin-left:5px; margin-right:5px; margin-top:10px;border:0;background:url(../images/inp_1.jpg) no-repeat;}
.login_jin{ float:left; width:150px; height:31px; line-height:30px; margin-left:5px; margin-right:5px; margin-top:10px; text-align:center; font-size:14px; font-weight:bold; color:#FFF; font-family:"Î¢ÈíÑÅºÚ";border:0;background:url(../images/inp_21.jpg) no-repeat;}
.login_tui{ float:left; width:72px; height:31px; line-height:30px;margin-top:10px; text-align:center; font-size:14px; font-weight:bold; color:#FFF; font-family:"Î¢ÈíÑÅºÚ";border:0;background:url(../images/inp_11.jpg) no-repeat;}
.login_img{ float:left;margin-top:10px;}

.in_news_tit{ width:235px; height:41px; background:url(../images/in_5.jpg) no-repeat; }
.in_news_tit a { display:block; margin-left:160px; padding-top:10px;}
.in_news_o{ width:235px; line-height:20px; border-bottom:1px dotted #CCC}
.in_news_o span{ display:block; line-height:30px; font-weight:bold; color:#f99f03}

.list_bot{width:240px; height:290px;background:url(../images/nei_3.jpg) no-repeat; margin-top:15px; margin-bottom:15px;overflow:hidden;}

.cont1_right { float:left; width:250px; margin-left:10px;overflow:hidden;}
.cont1_right_tit { width:250px; height:24px; background:url(../images/ind-right-bg.jpg) no-repeat; margin-bottom:3px; overflow:hidden;}
.cont1_right_tit h3 { float:left; width:75px; height:24px; line-height:24px; text-align:center; font-size:14px; color:#3a70ac; font-weight:bold; overflow:hidden;}
.cont1_right_tit a { float:right; width:36px; height:13px; background:url(../images/more.jpg) no-repeat; margin-top:6px}
.news { width:260px; height:95px; margin-top:10px; overflow:hidden;}
.news li { width:260px; height:24px; vertical-align:bottom;overflow:hidden;}
.news li a{ float:left; width:220px; height:24px; line-height:24px; color:#333333;  overflow:hidden;}
.news li a:hover { color:#100f0f;}
.news li span { float:left; width:40px; height:24px; line-height:24px; color:#989898;overflow:hidden;}

.tj_tit{ width:620px; margin-left:10px;font-family:"Î¢ÈíÑÅºÚ"; font-weight:bold; font-size:18px; border-bottom:1px solid #ddd; line-height:35px;}


.table_blue{
border: 0.5px solid #a89b82;
line-height: 26px;
background-color: #eeeeee;
font-size:12px; margin-left:10px; margin-top:20px;
}
.table_td{
height:30px;
line-height:30px;
background:#d1bc93;
text-align:center;
font-size:14px;
font-weight:bold;}
.table_td1{font-family:"Î¢ÈíÑÅºÚ";
height:35px;
line-height:35px;
background:#eef5ff;
text-align:center; font-size:14px; font-weight:bold; color:#333
}
.table_td2{height:35px;line-height:35px; text-align: center}
.table_td3{ text-align: center; color:#666}

.content_2 { width:974px; margin:auto; margin-top:15px;padding-left:28px; overflow:hidden;} 

.left_list_tit{ width:233px; height:48px; margin-bottom:10px;background:url(../images/list_1.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; line-height:48px; color:#FFF; text-indent:20px; }

.left_list_tit1{ width:233px; height:48px; margin-bottom:10px;background:url(../images/list_2.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; line-height:48px; color:#FFF; text-indent:20px; }

.left_list_tit4{ width:199px; height:40px; margin-bottom:10px;background:url(../images/list_4.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; line-height:40px; color:#FFF; text-indent:20px; }

.left_list_tit2{ float:left; width:107px; height:31px; margin-bottom:10px; margin-right:20px;background:url(../images/list_3.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; line-height:30px; color:#FFF; text-align:center}
.left_list_tit2 a{ color:#FFF }

.mem_tit2{ float:right; width:107px; height:31px; margin-bottom:10px; margin-right:10px;background:url(../images/list_3.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; line-height:30px; color:#FFF; text-align:center}
.mem_tit2 a{ color:#FFF }
.mem_tit2 a:hover{ color:#FF9}

.reg_tit{ margin-bottom:20px; font-size:14px;font-family:"Î¢ÈíÑÅºÚ"; font-weight:bold}

.left_list { float:left; width:260px; margin-left:10px; overflow:hidden;}
.list_ul { width:233px; margin-bottom:10px;}
.list_ul li{ width:231px; height:26px; margin-bottom:6px; border:1px solid #ddd;   overflow:hidden;}
.list_ul li a { display:block; width:231px; height:26px; line-height:26px; text-indent:20px; background:url(../images/list-bg.jpg) no-repeat; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#7c7c7c; overflow:hidden;}
.list_ul li a:hover { background:#999; color:#FFF;}
.list_gg { width:221px;  margin:auto; margin-top:15px; overflow:hidden;}
.list_gg img { border:0;}
.content_rigth { float:left; border-left:1px solid #ddd; width:650px; padding-left:20px; overflow:hidden;}
.cont_tit { width:650px; height:30px; font-family:"Î¢ÈíÑÅºÚ"; border-bottom:1px solid #e1e1e1;overflow:hidden;}
.cont_tit h3{ float:left; width:400px; height:30px; line-height:30px; font-weight:bold; font-size:18px; color:#393737; padding-left:20px; overflow:hidden;}
.cont_tit span { float:right; width:200px; height:30px; line-height:30px; text-align:right; padding-right:20px;font-size:12px; color:#1d1a1a; font-weight:bold; overflow:hidden;}
.cont_tit span a { color:#1d1a1a;}


.a50{font-family:"Î¢ÈíÑÅºÚ";  font-size:16px; color:#2e5d8e;}
.map_1{ display:block; float:left;font-family:"Î¢ÈíÑÅºÚ"; width:165px; height:28px; text-indent:5px; line-height:28px;overflow:hidden;}
.map_2{ display:block; float:left;font-family:"Î¢ÈíÑÅºÚ"; width:165px; height:28px; text-indent:5px; line-height:28px;overflow:hidden;}




.news_tit { float:left; height:28px; line-height:28px; text-align:center; border:1px solid #dbdddc; color:#FFF; font-weight:bold;background:#a6a6a6;}
.news_content { width:675px; list-style:none; overflow:hidden;}
.news_content li { width:680px; height:28px; border-bottom:1px dashed #999; vertical-align:bottom;overflow:hidden;}
.news_content li a { display:block; float:left; width:405px; height:28px; line-height:28px; background:url(../images/news-1.gif) left center no-repeat;color:#555555; padding-left:10px; overflow:hidden;}
.news_content li a:hover { color:#4a6ba1;}
.news_content li span { display:block; float:left; height:30px; line-height:30px; text-align:center; color:#7c7c7c; margin:0 2px; _display:inline;overflow:hidden;}
.news_tit1 { width:680px; border:1px solid #dbdddc; background:#f7f7f7; padding:10px 0; overflow:hidden;}
.news_tit1 td { height:28px; line-height:28px; }
.news_con_1 { width:680px; line-height:30px; color:#505050; font-size:14px; margin-top:20px; overflow:hidden;}

.so_div { width:224px; margin-top:20px; overflow:hidden;}
.so_div h3{ font-size:16px; font-family:Arial; font-weight:bold; color:#012a6a;}
.inp { float:left; width:186px; height:23px; line-height:25px; border:1px solid #dedcf2; margin-top:5px; overflow:hidden;}
.but { float:left; width:33px; height:27px; background:url(../images/so-bug.jpg) no-repeat; border:0;margin-top:5px; overflow:hidden;}
.right_cont { width:610px; padding:15px 18px; padding-right:0; line-height:24px; overflow:hidden;}
.member_cont { width:648px; padding:15px 0px; padding-right:0; line-height:24px; overflow:hidden;}

.mem_j { width:648px; margin:10px 0px; border-bottom:1px solid #ccc; overflow:hidden;}
.mem_j a { color:#FFF}
.mem_jc_1 { float:left; width:128px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_5.jpg) no-repeat;}
.mem_j_1 { float:left; width:128px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_6.jpg) no-repeat;}

.mem_jh_1 { float:left; width:150px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_9.jpg) no-repeat;}

.mem_ji_1 { float:left; width:150px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_10.jpg) no-repeat;}

.mem_jd_1 { float:right; width:106px; height:35px; margin-right:12px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#FFF; line-height:30px;  background:url(../images/nei_8.jpg) no-repeat;}


.mem_jk_1 { float:left; width:200px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_11.jpg) no-repeat;}

.mem_jm_1 { float:left; width:200px; height:35px; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#FFF; line-height:35px;  background:url(../images/nei_12.jpg) no-repeat;}


.pro_left_img { float:left; width:326px; height:326px; padding:2px; border:2px solid #e2e2e2; position:relative; margin-right:17px; overflow:hidden;}
.pro_left_img span { display:block; width:35px; height:29px; background:url(../images/fangda.png) no-repeat; position:absolute; right:10px; bottom:10px;}
.pro_cont1 { width:327px; overflow:hidden;}
.pro_cont1 li { width:327px; height:53px; line-height:53px; text-indent:5px; border-bottom:1px dotted #a0a0a0;}
.pro_cont1 li b{ color:#0d39ad; font-size:14px;}
.pro_cont2 { width:678px; background:url(../images/pro-cont.jpg) top no-repeat; padding-top:45px; margin:auto; font-family:Arial; line-height:22px; overflow:hidden; overflow:hidden;}

.foot_c{background:url(../images/foot_1.jpg) repeat-x;  height:225px; }
.foot_c_div{ width:1002px; margin:auto}
.foot_c_div_1{ float:left; width:350px; margin-left:20px;  font-family:"Î¢ÈíÑÅºÚ";margin-top:20px;color:#FFF; line-height:24px;}
.foot_c_div_1 span{ display:block; line-height:32px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; color:#FFF}

.foot_c_div_2{ float:left; width:250px; margin-left:20px; margin-right:100px;  font-family:"Î¢ÈíÑÅºÚ";margin-top:20px;color:#FFF; line-height:24px;}
.foot_c_div_2 span{ display:block; line-height:32px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; color:#FFF}
.foot_c_div_2 img{ margin-top:5px;}

.foot_c_div_3{ float:left; width:200px; margin-left:20px;  font-family:"Î¢ÈíÑÅºÚ";margin-top:20px;color:#FFF; line-height:24px;}
.foot_c_div_3 span{ display:block; line-height:32px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; color:#FFF}
.foot_c_div_3 img{ margin-top:5px;}

.foot { height:111px; overflow:hidden;}
.foot div{width:960px; line-height:20px; font-size:12px; font-family:Arial; color:#707070; margin:auto; margin-top:37px; overflow:hidden;}
.foot div a{ color:#293855;}

.tab_table2{margin: auto; border-top:1px solid #CCC;margin-top:5px; background:#fff }	
.tab_table2_td{ padding-top:10px; padding-right:5px; text-align:right; background:#fff }


.tab_td_left{ margin:0; text-align:left;height:40px; vertical-align:top;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_input1{ width:220px;padding: 4px;font-size: 12px;background:url(../images/bg-form-field.gif) #fff  top left repeat-x;border: 1px solid #d5d5d5;color: #666;}
.tab_note{ float:left; margin:0; height:30px; line-height:30px; background:url(../images/tishi.gif) 5px 7px no-repeat; padding-left:25px; font-size:12px;font-weight:normal; font-family:ËÎÌå;}
.tab_note1{ float:left; margin:0; line-height:20px; background:url(../images/tishi.gif) 5px 2px no-repeat; padding-left:25px; font-size:12px;font-weight:normal; font-family:ËÎÌå;}
.tab_sele{ width:275px; height:30px;font-size:12px; background:url(../images/bg-form-field.gif) #fff  top left repeat-x; padding:2px;border: 1px solid #d5d5d5;color: #666;}
.button {width:107px; height:31px; margin-bottom:10px;background:url(../images/list_3.jpg) no-repeat;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold;color:#FFF; margin:0px; float:left; margin-left:10px; border:0;cursor: pointer;}

.button_1 {width:107px; height:31px; line-height:31px; text-align:center; margin-bottom:10px;background:url(../images/list_3.jpg) no-repeat;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold;color:#FFF; margin:0px; float:left; margin-left:10px; border:0;cursor: pointer;}


.button1 {width:107px; height:31px; margin-top:10px;background:url(../images/chaxu.gif) no-repeat;color:#FFF;float:left;  border:0;cursor: pointer;}

.button2 { display:block;width:107px; height:31px; line-height:31px; text-align:center; margin-top:10px;background:url(../images/list_3.jpg) no-repeat;color:#FFF;border:0;cursor: pointer;}


.aleft {display:block; width:74px; height:23px; line-height:23px; background:url(../images/page-1.jpg) no-repeat;color:#000; text-align:center; font-family:"Î¢ÈíÑÅºÚ"; margin:0 9px; overflow:hidden;}
.aleft:hover { background:url(../images/page-2.jpg) no-repeat; color:#FFF;}
.acen { display:block;width:15px; height:23px; text-align:center; font-family:"Î¢ÈíÑÅºÚ";line-height:23px; color:#000000; overflow:hidden;}
.acen:hover { color:#c0551d;}
.aspan{display:block;width:15px; height:23px; text-align:center; font-family:"Î¢ÈíÑÅºÚ";line-height:23px; color:#c0551d; font-weight:bold; overflow:hidden;}

.table_foot{ margin:auto}

.news_ul { width:600px; margin:auto;  font-family:"Î¢ÈíÑÅºÚ";overflow:hidden;}
.news_ul li { width:600px; height:100px; border-bottom:1px dotted #888888; color:#888888; line-height:24px; padding:12px 5px 0 5px;overflow:hidden;}
.news_ul li a { float:left; width:525px; height:30px; line-height:30px; color:#444444; font-weight:bold; font-size:16px; overflow:hidden;}
.news_ul li span { float:right; width:75px; height:30px; line-height:30px; text-align:center; color:#444444; overflow:hidden;}

.title_div { width:610px; height:25px; line-height:25px; text-align:center; font-size:16px; font-weight:bold; color:#333333; overflow:hidden;}
.news_table { margin-top:15px;}	
.news_table td { height:28px; line-height:28px; background:#f6f6f6;}

.news_title { display:block; width:670px; height:35px; line-height:35px; text-align:center; font-weight:bold; font-size:16px; color:#333333; border-bottom:1px dashed #e4e4e4; margin:auto;}
	
.tab_table_h{background:url(../images/nei_7.jpg) top left no-repeat; line-height:35px; border-bottom:1px solid #CCC;margin-top:15px; }
.tab_table_h a{ text-decoration:underline}

	
.tab_table_ha{ width:635px; background:url(../images/nei_88.jpg) top no-repeat; margin-top:15px; }

.input_c{ border:0; width:240px; height:18px; border:1px solid #FFF }
.input_d{ border:0; width:240px; height:20px; border:1px solid #ccc; margin-left:7px; }

.tab_table_cha{ margin-top:15px;}
.tab_input_cha{ width:200px; margin-top:2px;padding: 4px;font-size: 12px;background:url(../images/bg-form-field.gif) #fff  top left repeat-x;border: 1px solid #d5d5d5;color: #666;}

.tab_table1{margin: auto; border-top:1px solid #CCC; border-bottom:1px solid #CCC;margin-top:15px; background:#fff }
.tab_table1 a{ text-decoration:underline}
.tab_tr1{ background: #f3f3f3;}
.tab_tr2{ background: #ffffff;}
.tab_tr3{ background: #dddddd;}
.tab_td_cen{ margin:0; text-align:center;height:40px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_cen_1{ margin:0; text-align:center;height:35px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_cen_t{ margin:0;height:35px; text-indent:45px;font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; font-weight:bold; color:#666; border-bottom:1px solid #ccc;background:url(../images/list_5.jpg) no-repeat; background-position:20px 5px;}
.tab_td_left{ margin:0; padding-top:5px; text-align:left;height:40px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_right{ margin:0; text-align:right;height:40px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_left_pro{ margin:0; text-align:left;height:50px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_left1{ margin:0; text-align:left;height:50px;}
.tab_td_left2{ margin:0; text-align:left;height:40px;}
.tab_td2{ vertical-align:top; padding-top:5px;}

.hea_t1{ font-weight:bold; color:#777777; text-align:right; border-right:1px solid #ccc}

.tab_td_left3{margin:0; text-align:left; text-indent:20px;height:35px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;}
.tab_td_right3{margin:0; text-align:right; text-indent:20px;height:35px;font-family:"Î¢ÈíÑÅºÚ"; font-size:14px; font-weight:bold; color:#666;border-bottom:1px solid #CCC;}

.tab_td_cen1{ margin:0; text-align:center;height:50px; line-height:20px;}
.tab_td_cen2{ margin:0; text-align:center;height:50px; line-height:20px;}
.tab_td_cen3{ margin:0; text-align:center;height:35px; line-height:20px;border-bottom:1px solid #CCC;	}
.tab_td_right1{ margin:0; text-align:right;height:50px; line-height:20px;}
.tab_td{ margin:0;height:41px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-weight:bold; color:#222222;background:url(../images/tabs/bg-content-box.gif) #FFF bottom repeat-x; padding-left:15px; border-bottom:1px solid #CCC;}
.tab_td1{ line-height:24px;}
.tab_td3{ height:40px;}
.tab_lin{ line-height:20px;}
.font1{ color:#3e94cc; font-weight:bold; padding-right:10px;}
.font2{ color:#2052a5;}
	
	

.jiesi{ padding-left:5px; color:#666;line-height:26px; background:#f4f4f4;}
.jiesi2{ padding-left:15px; color:#666;line-height:26px; background:#f4f4f4;}
.msgBox{ border-bottom:4px solid #ccc; border-right:4px solid #ccc }
.jiesi1{ padding-left:50px; padding-bottom:50px; color:#666; font-family:Î¢ÈíÑÅºÚ; font-size:16px;  background:#ffffff; border:2px solid #f4f4f4;}

.mleft{ float:left; width:315px;}
.mleft_tab{ margin-top:5px; line-height:30px;}
.mleft_tab td{ text-indent:5px; color:#666}
.mleft_tab_td1{ background:#eee}

.mem_tit{ width:315px; height:55px; line-height:55px; background:url(../images/nei_4.jpg) no-repeat; }
.mem_tit a { float:right; display:block; color:#333; width:80px;}
	
.mem_tit1{ width:315px; height:55px; line-height:55px; background:url(../images/nei_4_1.jpg) no-repeat; }
.mem_tit1 a { float:right; display:block; color:#333; width:80px;}	
	
.jw_xian{ text-decoration:underline}